html,body{
      font-family:Arial;
              }
     h1{
         color:blue;
         text-align:center;
         margin-top:50px;
         }
   
   .cal-button{
      background-color: #0e5990;
       color:white;
       width:50px;
       height:50px;
       font-size:25px;
       font-weight:bold;
        border-radius:5px;
    }

   .cal-display{
     background-color: #c2e3f7;
     width:212px;
     height:50px;
     font-size:25px;
     border-radius: 5px;
    }
.cal-button-func{
    background-color: #206916;
}
 .cal-button-clear{
  background-color: #d30000;
}
}
   